@use '../../styles/colors.scss';

.banner_gradient {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  background: colors.$backgroundColor;

  &:before {
    content: '';
    position: fixed;
    display: inline-block;
    box-sizing: inherit;
    height: 100%;
    width: 100%;
    background: linear-gradient(125deg, rgb(182, 182, 182, 0) 0%, rgba(2,0,36,0.2) 25%, rgba(2,0,36,0.4) 75%, rgba(2,0,36,0.8) 100%);
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    margin: auto;
  }
}