@use './styles/colors.scss';
@use './styles/dimensions.scss';

html,
body,
#root {
  height: 100%;
  background: colors.$backgroundColor;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.body {
  display: flex;
  width: 100%;
  max-height: calc(100% - #{2 * dimensions.$footerHeight});
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  background: rgb(219, 142, 255);
  min-height: dimensions.$footerHeight;
}